[submodule "SunSensorMux/kicad-libs"]
	path = SunSensorMux/kicad-libs
	url = git@github.com:PyCubed-Mini/kicad-libs.git
[submodule "SunSensor/kicad-libs"]
	path = SunSensor/kicad-libs
	url = git@github.com:PyCubed-Mini/kicad-libs.git